USE [master]
GO
/****** Object:  Database [DB_STAGING_DEV_V2]    Script Date: 2023-09-20 11:35:08 AM ******/
CREATE DATABASE [DB_STAGING_DEV_V2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_STAGING_DEV_V2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_STAGING_DEV_V2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_STAGING_DEV_V2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_STAGING_DEV_V2_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_STAGING_DEV_V2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_STAGING_DEV_V2]
GO
/****** Object:  Table [dbo].[GWM_PAYMENT]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GWM_PAYMENT](
	[DEALNO] [varchar](50) NOT NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[BR] [varchar](50) NULL,
	[SETTDATE] [date] NULL,
	[CCY] [varchar](50) NULL,
	[AMOUNT] [numeric](38, 4) NULL,
	[CNO] [varchar](50) NULL,
	[SN] [varchar](50) NULL,
	[BIC] [varchar](50) NULL,
	[PAYREC] [varchar](50) NULL,
	[SETMEANS] [varchar](50) NULL,
	[SETACCT] [varchar](50) NULL,
 CONSTRAINT [PK_GWM_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GWMV_FI_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GWMV_FI_TRANSACTION](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[SETTDATE] [date] NULL,
	[MDATE] [date] NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[CNO] [varchar](50) NULL,
	[SECID] [varchar](50) NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[PROCEEDAMT] [numeric](38, 4) NULL,
	[FACEAMT] [numeric](38, 4) NULL,
	[COSTAMT] [numeric](38, 4) NULL,
	[QTY] [numeric](38, 4) NULL,
	[PURCHINTAMT] [numeric](38, 4) NULL,
	[ACCTNGTYPE_SECURITIES] [varchar](50) NULL,
	[YIELD_8_YIELD] [numeric](38, 8) NULL,
	[PRICE_8_PRICE] [numeric](38, 8) NULL,
	[SECSACCT_CUSTODIAN] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[WHTAMT_TAX] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[PS] [varchar](50) NULL,
	[INVTYPE] [char](10) NULL,
	[BENEFICIARY] [varchar](50) NULL,
	[ACCOUNT] [varchar](50) NULL,
	[INTERMEDIARY] [varchar](50) NULL,
	[REVERSE_DATE] [date] NULL,
	[AMEND_DATE] [date] NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[BROKER] [varchar](50) NULL,
	[BROKERAMT] [numeric](38, 4) NULL,
 CONSTRAINT [PK_GWMV_FI_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GWMV_NOSTRO_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GWMV_NOSTRO_TRANSACTION](
	[BR] [varchar](50) NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[CCY] [varchar](50) NULL,
	[VDATE] [date] NULL,
	[PAYACCT] [varchar](50) NULL,
	[RECACCT] [varchar](50) NULL,
	[TRFAMT] [numeric](38, 4) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[ROPER] [varchar](50) NULL,
	[RVOPER] [varchar](50) NULL,
	[INPUTDATE] [datetime] NULL,
	[LSTMNTDATE] [date] NULL,
	[VERDATE] [date] NULL,
	[REVDATE] [date] NULL,
 CONSTRAINT [PK_GWMV_NOSTRO_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LM_FI_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LM_FI_TRANSACTION](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[SETTDATE] [date] NULL,
	[MDATE] [date] NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[CNO] [varchar](50) NULL,
	[SECID] [varchar](50) NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[PROCEEDAMT] [numeric](38, 4) NULL,
	[FACEAMT] [numeric](38, 4) NULL,
	[COSTAMT] [numeric](38, 4) NULL,
	[QTY] [numeric](38, 4) NULL,
	[PURCHINTAMT] [numeric](38, 4) NULL,
	[ACCTNGTYPE_SECURITIES] [varchar](50) NULL,
	[YIELD_8_YIELD] [numeric](38, 8) NULL,
	[PRICE_8_PRICE] [numeric](38, 8) NULL,
	[SECSACCT_CUSTODIAN] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[WHTAMT_TAX] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[PS] [varchar](50) NULL,
	[INVTYPE] [varchar](50) NULL,
	[BENEFICIARY] [varchar](50) NULL,
	[ACCOUNT] [varchar](50) NULL,
	[INTERMEDIARY] [varchar](50) NULL,
	[REVERSE_DATE] [date] NULL,
	[AMEND_DATE] [date] NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[BROKER] [varchar](50) NULL,
	[BROKERAMT] [numeric](38, 4) NULL,
 CONSTRAINT [PK_LM_FI_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LM_FI_TRANSACTION_INTERFACE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LM_FI_TRANSACTION_INTERFACE](
	[DEALNO] [varchar](50) NOT NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CNO] [varchar](50) NULL,
	[SECSACCT] [varchar](50) NULL,
	[PS] [varchar](50) NULL,
	[INVTYPE] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[SECID] [varchar](50) NULL,
	[ORIGQTY] [numeric](38, 4) NULL,
	[PRICE_8] [numeric](38, 8) NULL,
	[SETTDATE] [date] NULL,
	[BROKFEEAMT] [numeric](38, 4) NULL,
	[BROK] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[RATECODE] [varchar](50) NULL,
	[INPUTDATE] [datetime] NULL,
	[DEALTEXT] [varchar](100) NULL,
	[VERIND] [varchar](50) NULL,
	[VERDATE] [date] NULL,
	[REVREASON] [varchar](50) NULL,
	[SETTCCY] [varchar](50) NULL,
	[SERVER] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[AMENDTIME] [datetime] NULL,
 CONSTRAINT [PK__TMS_FI_T__B2B2BEAED3A9723A] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LM_FX_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LM_FX_TRANSACTION](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[SWAPDEALNO] [varchar](50) NULL,
	[SWAPVDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[FARNEARIND] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
	[PS] [varchar](50) NULL,
	[CCODE] [varchar](50) NULL,
	[ACCTNGTYPE_CUSTOMER] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[SPOTFWDIND] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[BROKER] [varchar](50) NULL,
	[REVERSE_DATE] [date] NULL,
	[AMEND_DATE] [date] NULL,
	[BROKERAMT] [numeric](38, 4) NULL,
 CONSTRAINT [PK__LM_FX_TR__B2B2BEAEC9D0489F] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LM_FX_TRANSACTION_INTERFACE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE](
	[SERVER] [varchar](50) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[NDEALNO] [varchar](50) NULL,
	[FDEALNO] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[VDATE] [date] NULL,
	[NVDATE] [date] NULL,
	[FVDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[BROK] [varchar](50) NULL,
	[BROKCCY] [varchar](50) NULL,
	[BROKAMT] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[DEALTEXT] [varchar](100) NULL,
	[PS] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[REVREASON] [varchar](50) NULL,
	[CORPTRAD] [varchar](50) NULL,
	[CORPPORT] [varchar](50) NULL,
	[CORPCOST] [varchar](50) NULL,
	[INTERNALRATE_8] [numeric](38, 8) NULL,
	[CORPSPREADAMT] [numeric](38, 4) NULL,
	[FIXRATECODE] [varchar](50) NULL,
	[NPRODCODE] [varchar](50) NULL,
	[FPRODCODE] [varchar](50) NULL,
	[NPRODTYPE] [varchar](50) NULL,
	[FPRODTYPE] [varchar](50) NULL,
	[NCNO] [varchar](50) NULL,
	[FCNO] [varchar](50) NULL,
	[AMENDTIME] [datetime] NULL,
 CONSTRAINT [PK_TMS_FX_TRANSACTION_INTERFACE] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LM_MM_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LM_MM_TRANSACTION](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[MDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[TOTPAYAMT] [numeric](38, 4) NULL,
	[INTAMT] [numeric](38, 8) NULL,
	[INTRATE_8] [numeric](38, 8) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[SMEANS] [varchar](50) NULL,
	[SACCT] [varchar](50) NULL,
	[INTSMEANS] [varchar](50) NULL,
	[INTSACCT] [varchar](50) NULL,
	[INTENDDTE] [date] NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[BROKER] [varchar](50) NULL,
	[REVERSE_DATE] [date] NULL,
	[AMEND_DATE] [date] NULL,
	[BROKERAMT] [numeric](38, 4) NULL,
 CONSTRAINT [PK__LM_MM_TR__B2B2BEAED91ABD46] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LM_MM_TRANSACTION_INTERFACE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE](
	[SERVER] [varchar](50) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[VDATE] [date] NULL,
	[MDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[RATECODE] [varchar](50) NULL,
	[BASIS] [varchar](50) NULL,
	[INTRATE] [numeric](38, 8) NULL,
	[SPREAD_8] [numeric](38, 8) NULL,
	[BROK] [varchar](50) NULL,
	[BROKCCY] [varchar](50) NULL,
	[BROKAMT] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[DEALTEXT] [varchar](100) NULL,
	[VERIND] [varchar](50) NULL,
	[INPUTDATE] [datetime] NULL,
	[AMENDTIME] [datetime] NULL,
 CONSTRAINT [PK_TMS_INTERFACE_MM_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDN_CALLSPREAD]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDN_CALLSPREAD](
	[DEALNO] [varchar](50) NOT NULL,
	[PREMIUM_CCY] [varchar](50) NULL,
	[PREMIUM_AMOUNT] [numeric](38, 4) NULL,
	[VALUEDATE] [date] NULL,
	[TRADEDATE] [date] NULL,
	[TRADESTATUS] [varchar](50) NULL,
 CONSTRAINT [PK_PDN_CALLSPREAD] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDN_DCI]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDN_DCI](
	[DEALNO] [varchar](50) NOT NULL,
	[PREMIUM_CCY] [varchar](50) NULL,
	[PREMIUM_AMOUNT] [numeric](38, 4) NULL,
	[VALUEDATE] [date] NULL,
	[TRADEDATE] [date] NULL,
	[TRADESTATUS] [varchar](50) NULL,
 CONSTRAINT [PK_PDN_DCI] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDN_FX_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDN_FX_TRANSACTION](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[SWAPDEALNO] [varchar](50) NULL,
	[SWAPVDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[FARNEARIND] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
	[PS] [varchar](50) NULL,
	[CCODE] [varchar](50) NULL,
	[ACCTNGTYPE_CUSTOMER] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[REVDATE] [date] NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[SPOTFWDIND] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[CTRRATE] [numeric](38, 8) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
 CONSTRAINT [PK_PDN_FX_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDN_FXOPTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDN_FXOPTION](
	[DEALNO] [varchar](50) NOT NULL,
	[PREMIUM_CCY] [varchar](50) NULL,
	[PREMIUM_AMOUNT] [numeric](38, 4) NULL,
	[VALUEDATE] [date] NULL,
	[TRADEDATE] [date] NULL,
	[TRADESTATUS] [varchar](50) NULL,
 CONSTRAINT [PK_PDN_OPTION] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PDN_PAR_FORWARD]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDN_PAR_FORWARD](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
 CONSTRAINT [PK_PDN_PAR_FWD] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMTR_CCS]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMTR_CCS](
	[DEALNO] [varchar](50) NOT NULL,
	[EFFDATE] [date] NULL,
	[MDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[PAY_CCY] [varchar](50) NULL,
	[PAY_AMT] [numeric](38, 4) NULL,
	[RECEIVE_CCY] [varchar](50) NULL,
	[RECEIVE_AMT] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[BENEFICIARY] [varchar](50) NULL,
	[ACCOUNT] [varchar](50) NULL,
	[INTERMEDIARY] [varchar](50) NULL,
	[ACCOUNT_NUMBER] [varchar](50) NOT NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[PAY_RATE_TYPE] [varchar](50) NULL,
	[RECEIVE_RATE_TYPE] [varchar](50) NULL,
	[PAY_RATE_VALUE] [varchar](50) NULL,
	[RECEIVE_RATE_VALUE] [varchar](50) NULL,
	[SPOTDATE] [datetime] NULL,
	[AMENDTIME] [datetime] NULL,
	[VERDATE] [datetime] NULL,
	[REVDATE] [datetime] NULL,
 CONSTRAINT [PK__SMTVR_CC__B2B2BEAE59247F33] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[SWAPDEALNO] [varchar](50) NULL,
	[SWAPVDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[FARNEARIND] [varchar](5) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
	[PS] [varchar](50) NULL,
	[CCODE] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[SPOTFWDIND] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[SPOTDATE] [datetime] NULL,
	[AMENDTIME] [datetime] NULL,
	[VERDATE] [datetime] NULL,
	[REVDATE] [datetime] NULL,
 CONSTRAINT [PK__SMTVR_FX__B2B2BEAE1B5AC7DB] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMTR_FX_TRANSACTION_KCDN]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[SWAPDEALNO] [varchar](50) NULL,
	[SWAPVDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[FARNEARIND] [varchar](5) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
	[PS] [varchar](50) NULL,
	[CCODE] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[SPOTFWDIND] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[SPOTDATE] [datetime] NULL,
	[AMENDTIME] [datetime] NULL,
	[VERDATE] [datetime] NULL,
	[REVDATE] [datetime] NULL,
 CONSTRAINT [PK__SMTVR_FX__B2B2BEAE1DBF3CAD] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMTR_OPTION_CALLSPREAD]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMTR_OPTION_CALLSPREAD](
	[DEALNO] [varchar](50) NOT NULL,
	[PARENT_VDATE] [date] NULL,
	[EFFDATE] [date] NULL,
	[MDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[PUT_CCY] [varchar](50) NULL,
	[PUT_AMT] [numeric](38, 4) NULL,
	[CALL_CCY] [varchar](50) NULL,
	[CALL_AMT] [numeric](38, 4) NULL,
	[PREMIUM_CCY] [varchar](50) NULL,
	[PREMIUM_AMT] [numeric](38, 4) NULL,
	[PS] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[STRIKE] [numeric](38, 8) NULL,
	[BENEFICIARY] [varchar](50) NULL,
	[ACCOUNT] [varchar](50) NULL,
	[INTERMEDIARY] [varchar](50) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[AMENDDATE] [datetime] NULL,
	[OPTION_STATUS] [varchar](50) NULL,
	[SPOTDATE] [datetime] NULL,
	[VERDATE] [datetime] NULL,
	[REVDATE] [datetime] NULL,
 CONSTRAINT [PK__SMTVR_OP__B2B2BEAEB3520383] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMTR_PARFWD]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMTR_PARFWD](
	[PARENT_DEALNO] [varchar](50) NULL,
	[PARENT_VDATE] [date] NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
	[PS] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[BENEFICIARY] [varchar](50) NULL,
	[ACCOUNT_NUMBER] [varchar](50) NULL,
	[INTERMEDIARY] [varchar](50) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[AMENDTIME] [datetime] NULL,
	[SPOTDATE] [datetime] NULL,
	[VERTDATE] [datetime] NULL,
	[REVDATE] [datetime] NULL,
 CONSTRAINT [PK_SMTVR_PARFWD] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_ACCOUNTING_TYPE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_ACCOUNTING_TYPE](
	[ACCTNGTYPE] [varchar](50) NOT NULL,
	[ACCTDESC] [varchar](50) NULL,
 CONSTRAINT [PK_STATIC_ACCOUNTING_TYPE] PRIMARY KEY CLUSTERED 
(
	[ACCTNGTYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_CUSTOMER]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_CUSTOMER](
	[CNO] [varchar](50) NOT NULL,
	[LHBU_ID] [varchar](50) NULL,
	[CMNE] [nchar](10) NULL,
	[BIC] [varchar](50) NULL,
	[CCODE] [varchar](50) NULL,
	[SIC] [varchar](50) NULL,
	[SN] [varchar](50) NULL,
	[CFN1] [nchar](35) NULL,
	[CA] [varchar](500) NULL,
	[CTYPE] [varchar](50) NULL,
	[TAXID] [varchar](50) NULL,
	[ACCTNGTYPE] [varchar](50) NULL,
 CONSTRAINT [PK_STATIC_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_HLDY]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_HLDY](
	[CCY] [varchar](50) NULL,
	[HOLIDATE] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_NOSTRO]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_NOSTRO](
	[NOSTRO_ID] [varchar](50) NOT NULL,
	[CCY] [varchar](50) NULL,
	[NOSTRO_PARTY] [varchar](50) NULL,
 CONSTRAINT [PK_STATIC_NOSTRO] PRIMARY KEY CLUSTERED 
(
	[NOSTRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_OPER]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_OPER](
	[OPERATOR] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NULL,
	[LDAPID] [varchar](50) NULL,
 CONSTRAINT [PK_STATIC_OPER] PRIMARY KEY CLUSTERED 
(
	[OPERATOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_PORTOFOLIO]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_PORTOFOLIO](
	[PORT] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](50) NULL,
 CONSTRAINT [PK_STATIC_PORTOFOLIO] PRIMARY KEY CLUSTERED 
(
	[PORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_RATE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_RATE](
	[CCY] [varchar](50) NOT NULL,
	[SPOTRATE] [numeric](38, 8) NULL,
	[TERM] [varchar](50) NULL,
	[DATE] [date] NULL,
	[RATETYPE] [varchar](50) NULL,
 CONSTRAINT [PK_STATIC_RATE] PRIMARY KEY CLUSTERED 
(
	[CCY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT INTO [dbo].[STATIC_RATE]
           ([CCY]
           ,[SPOTRATE]
           ,[TERM]
           ,[DATE]
           ,[RATETYPE])
     VALUES
           ('IDR',
		   1.0,
		   'D',
		   GETDATE(),
		   'FX')
GO
/****** Object:  Table [dbo].[STATIC_SECURITIES]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_SECURITIES](
	[SECID] [varchar](50) NOT NULL,
	[ACCTNGTYPE] [varchar](50) NULL,
	[COUPRATE_8] [numeric](38, 8) NULL,
	[CCY] [varchar](50) NULL,
	[DENOM] [numeric](38, 8) NULL,
	[DESCR] [varchar](50) NULL,
	[FIRSTIPAYDATE] [date] NULL,
	[BASIS] [varchar](50) NULL,
	[RATECODE] [varchar](50) NULL,
	[ISSDATE] [date] NULL,
	[ISSUER] [varchar](50) NULL,
	[LSTMNTDATE] [date] NULL,
	[MDATE] [date] NULL,
	[MUTFUNDIND] [varchar](50) NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[VDATE] [date] NULL,
	[FIXRATE_8] [numeric](38, 8) NULL,
	[ISIN] [varchar](50) NULL,
 CONSTRAINT [PK_SECID] PRIMARY KEY CLUSTERED 
(
	[SECID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_STANDARD_INDUSTRY_CODE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_STANDARD_INDUSTRY_CODE](
	[SIC] [varchar](50) NOT NULL,
	[SD] [varchar](50) NULL,
 CONSTRAINT [PK_STATIC_STANDARD_INDUSTRY_CODE] PRIMARY KEY CLUSTERED 
(
	[SIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_SYSTEMDATE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_SYSTEMDATE](
	[BRANPRCDATE] [date] NULL,
	[PREVBRANPRCDATE] [date] NULL,
	[PREVPREVBRANPRCDATE] [date] NULL,
	[NEXTBRANPRCDATE] [date] NULL,
	[NEXTNEXTBRANPRCDATE] [date] NULL,
	[MONTHENDDATE] [date] NULL,
	[MONTHSTARTDATE] [date] NULL,
	[YEARENDDATE] [date] NULL,
	[YEARSTARTDATE] [date] NULL,
	[NEXTMONTHENDDATE] [date] NULL,
	[NEXTMONTHSTARTDATE] [date] NULL,
	[PREVMONTHENDDATE] [date] NULL,
	[PREVMONTHSTARTDATE] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATIC_TRAD]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATIC_TRAD](
	[TRADER] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NULL,
 CONSTRAINT [PK_STATIC_TRAD] PRIMARY KEY CLUSTERED 
(
	[TRADER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_CCS_IRS]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_CCS_IRS](
	[DEALNO] [varchar](50) NOT NULL,
	[EFFDATE] [date] NULL,
	[MDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[PAY_CCY] [varchar](50) NULL,
	[PAY_AMT] [numeric](38, 4) NULL,
	[RECEIVE_CCY] [varchar](50) NULL,
	[RECEIVE_AMT] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[BENEFICIARY] [varchar](50) NULL,
	[ACCOUNT] [varchar](50) NULL,
	[INTERMEDIARY] [varchar](50) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[AMENDTIME] [datetime] NULL,
	[PS] [varchar](50) NULL,
	[BOOK] [varchar](50) NULL,
 CONSTRAINT [PK__TMS_CCS__B2B2BEAE44130A21] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_FI_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_FI_TRANSACTION](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[SETTDATE] [date] NULL,
	[MDATE] [date] NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[CNO] [varchar](50) NULL,
	[SECID] [varchar](50) NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[PROCEEDAMT] [numeric](38, 4) NULL,
	[FACEAMT] [numeric](38, 4) NULL,
	[COSTAMT] [numeric](38, 4) NULL,
	[QTY] [numeric](38, 4) NULL,
	[PURCHINTAMT] [numeric](38, 4) NULL,
	[ACCTNGTYPE_SECURITIES] [varchar](50) NULL,
	[YIELD_8_YIELD] [numeric](38, 8) NULL,
	[PRICE_8_PRICE] [numeric](38, 8) NULL,
	[SECSACCT_CUSTODIAN] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[WHTAMT_TAX] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[PS] [varchar](50) NULL,
	[INVTYPE] [varchar](50) NULL,
	[BENEFICIARY] [varchar](50) NULL,
	[ACCOUNT] [varchar](50) NULL,
	[INTERMEDIARY] [varchar](50) NULL,
	[REVERSE_DATE] [date] NULL,
	[AMEND_DATE] [date] NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[BROKER] [varchar](50) NULL,
	[BROKERAMT] [numeric](38, 4) NULL,
 CONSTRAINT [PK_TMS_FI_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_FI_TRANSACTION_INTERFACE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_FI_TRANSACTION_INTERFACE](
	[FEDEALNO] [varchar](50) NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[CNO] [varchar](50) NULL,
	[SECSACCT] [varchar](50) NULL,
	[PS] [varchar](50) NULL,
	[INVTYPE] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[SECID] [varchar](50) NULL,
	[ORIGQTY] [numeric](38, 4) NULL,
	[PRICE_8] [numeric](38, 8) NULL,
	[SETTDATE] [date] NULL,
	[BROKFEEAMT] [numeric](38, 4) NULL,
	[BROK] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[RATECODE] [varchar](50) NULL,
	[INPUTDATE] [datetime] NULL,
	[DEALTEXT] [varchar](100) NULL,
	[VERIND] [varchar](50) NULL,
	[VERDATE] [date] NULL,
	[REVREASON] [varchar](50) NULL,
	[SETTCCY] [varchar](50) NULL,
	[SERVER] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[AMENDTIME] [datetime] NULL,
 CONSTRAINT [PK_TMS_FI_TRANSACTION_INTERFACE] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_FIXING]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_FIXING](
	[DEALNO] [varchar](50) NOT NULL,
	[RATECODE] [varchar](50) NULL,
	[LAST_FIXING] [date] NULL,
	[NEXT_FIXING] [date] NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[USER_FIXING] [varchar](50) NULL,
 CONSTRAINT [PK_TMS_FIXING] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_FX_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_FX_TRANSACTION](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[SWAPDEALNO] [varchar](50) NULL,
	[SWAPVDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [datetime] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[FARNEARIND] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
	[CCYBAMT] [numeric](38, 4) NULL,
	[CORPSPREADAMT] [numeric](38, 4) NULL,
	[PS] [varchar](50) NULL,
	[CCODE] [varchar](50) NULL,
	[ACCTNGTYPE_CUSTOMER] [varchar](50) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[SPOTFWDIND] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[BROKER] [varchar](50) NULL,
	[REVERSE_DATE] [date] NULL,
	[AMEND_DATE] [date] NULL,
	[BROKERAMT] [numeric](38, 4) NULL,
	[LSTMNTDATE] [datetime] NULL,
	[SETTDATE] [datetime] NULL,
	[SPOTDATE] [datetime] NULL,
 CONSTRAINT [PK__TMS_FX_T__B2B2BEAE771C4577] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_FX_TRANSACTION_INTERFACE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE](
	[SERVER] [varchar](50) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[NDEALNO] [varchar](50) NULL,
	[FDEALNO] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[VDATE] [date] NULL,
	[NVDATE] [date] NULL,
	[FVDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[BROK] [varchar](50) NULL,
	[BROKCCY] [varchar](50) NULL,
	[BROKAMT] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[DEALTEXT] [varchar](100) NULL,
	[PS] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[CTRCCY] [varchar](50) NULL,
	[CTRAMT] [numeric](38, 4) NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[REVREASON] [varchar](50) NULL,
	[CORPTRAD] [varchar](50) NULL,
	[CORPPORT] [varchar](50) NULL,
	[CORPCOST] [varchar](50) NULL,
	[INTERNALRATE_8] [numeric](38, 8) NULL,
	[CORPSPREADAMT] [numeric](38, 4) NULL,
	[FIXRATECODE] [varchar](50) NULL,
	[NPRODCODE] [varchar](50) NULL,
	[FPRODCODE] [varchar](50) NULL,
	[NPRODTYPE] [varchar](50) NULL,
	[FPRODTYPE] [varchar](50) NULL,
	[NCNO] [varchar](50) NULL,
	[FCNO] [varchar](50) NULL,
	[AMENDTIME] [datetime] NULL,
 CONSTRAINT [PK_TMS_FX_TRANSACTION_INTERFACE_1] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_MM_TRANSACTION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_MM_TRANSACTION](
	[DEALNO] [varchar](50) NOT NULL,
	[VDATE] [date] NULL,
	[MDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [datetime] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[TOTPAYAMT] [numeric](38, 4) NULL,
	[INTAMT] [numeric](38, 8) NULL,
	[INTRATE_8] [numeric](38, 8) NULL,
	[PORT] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[IOPER] [varchar](50) NULL,
	[VOPER] [varchar](50) NULL,
	[PAYOPER] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[SMEANS] [varchar](50) NULL,
	[SACCT] [varchar](50) NULL,
	[INTSMEANS] [varchar](50) NULL,
	[INTSACCT] [varchar](50) NULL,
	[INTENDDTE] [date] NULL,
	[SCHDTYPE] [varchar](50) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[BROKER] [varchar](50) NULL,
	[REVERSE_DATE] [date] NULL,
	[AMEND_DATE] [date] NULL,
	[BROKERAMT] [numeric](38, 4) NULL,
	[LSTMNTDATE] [datetime] NULL,
	[RATE] [numeric](38, 4) NULL,
	[BROKNAME] [nchar](15) NULL,
 CONSTRAINT [PK__TMS_MM_T__B2B2BEAE83C4F761] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_MM_TRANSACTION_INTERFACE]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_MM_TRANSACTION_INTERFACE](
	[FEDEALNO] [varchar](50) NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[PRODUCT] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[TRAD] [varchar](50) NULL,
	[VDATE] [date] NULL,
	[MDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[CCY] [varchar](50) NULL,
	[CCYAMT] [numeric](38, 4) NULL,
	[RATECODE] [varchar](50) NULL,
	[BASIS] [varchar](50) NULL,
	[INTRATE] [numeric](38, 8) NULL,
	[SPREAD_8] [numeric](38, 8) NULL,
	[BROK] [varchar](50) NULL,
	[BROKCCY] [varchar](50) NULL,
	[BROKAMT] [numeric](38, 4) NULL,
	[PORT] [varchar](50) NULL,
	[COST] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[DEALTEXT] [varchar](100) NULL,
	[VERIND] [varchar](50) NULL,
	[INPUTDATE] [datetime] NULL,
	[SERVER] [varchar](50) NULL,
	[AMENDTIME] [datetime] NULL,
 CONSTRAINT [PK_TMS_MM_TRANSACTION_INTERFACE] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_OPTION_CALLSPREAD]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_OPTION_CALLSPREAD](
	[PARENT_VDATE] [date] NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[EFFDATE] [date] NULL,
	[MDATE] [date] NULL,
	[CNO] [varchar](50) NULL,
	[DEALDATE] [date] NULL,
	[INPUTDATE] [datetime] NULL,
	[PRODCODE] [varchar](50) NULL,
	[PRODTYPE] [varchar](50) NULL,
	[PUT_CCY] [varchar](50) NULL,
	[PUT_AMT] [numeric](38, 4) NULL,
	[CALL_CCY] [varchar](50) NULL,
	[CALL_AMT] [numeric](38, 4) NULL,
	[PREMIUM_CCY] [varchar](50) NULL,
	[PREMIUM_AMT] [numeric](38, 4) NULL,
	[PS] [varchar](50) NULL,
	[AUTHOPER] [varchar](50) NULL,
	[REVOPER] [varchar](50) NULL,
	[REVAUTH] [varchar](50) NULL,
	[DEALTEXT] [varchar](100) NULL,
	[FEDEALNO] [varchar](50) NULL,
	[CCYSMEANS] [varchar](50) NULL,
	[CCYSACCT] [varchar](50) NULL,
	[CTRCCYSMEANS] [varchar](50) NULL,
	[CTRSACCT] [varchar](50) NULL,
	[RATE] [numeric](38, 8) NULL,
	[STRIKE] [numeric](38, 8) NULL,
	[BENEFICIARY] [varchar](50) NULL,
	[ACCOUNT] [varchar](50) NULL,
	[INTERMEDIARY] [varchar](50) NULL,
	[BR] [varchar](50) NULL,
	[STATUS] [varchar](50) NULL,
	[AMENDTIME] [datetime] NULL,
	[OPTION_STATUS] [varchar](50) NULL,
 CONSTRAINT [PK__TMS_OPTI__B2B2BEAE7A09572C] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMS_REUTERS_CONVERSATION]    Script Date: 2023-09-20 11:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMS_REUTERS_CONVERSATION](
	[FEDEALNO] [varchar](50) NULL,
	[DEALNO] [varchar](50) NOT NULL,
	[CONVERSATION] [varchar](50) NULL,
 CONSTRAINT [PK_TMS_REUTERS_CONVERSATION] PRIMARY KEY CLUSTERED 
(
	[DEALNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GWM_PAYMENT]  WITH CHECK ADD FOREIGN KEY([SETACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[GWM_PAYMENT]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[GWM_PAYMENT]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_T__AUTHO__5AA469F6] FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_T__AUTHO__5AA469F6]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_T__IOPER__57C7FD4B] FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_T__IOPER__57C7FD4B]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_T__PAYOP__59B045BD] FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_T__PAYOP__59B045BD]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_T__REVAU__5C8CB268] FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_T__REVAU__5C8CB268]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_T__REVOP__5B988E2F] FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_T__REVOP__5B988E2F]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_T__SECID__53F76C67] FOREIGN KEY([SECID])
REFERENCES [dbo].[STATIC_SECURITIES] ([SECID])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_T__SECID__53F76C67]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_T__VOPER__58BC2184] FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_T__VOPER__58BC2184]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_TR__PORT__55DFB4D9] FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_TR__PORT__55DFB4D9]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_TR__TRAD__56D3D912] FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_TR__TRAD__56D3D912]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_TRA__CCY__54EB90A0] FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_TRA__CCY__54EB90A0]
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__GWMV_FI_TRA__CNO__5303482E] FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[GWMV_FI_TRANSACTION] CHECK CONSTRAINT [FK__GWMV_FI_TRA__CNO__5303482E]
GO
ALTER TABLE [dbo].[GWMV_NOSTRO_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_NOSTRO_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PAYACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[GWMV_NOSTRO_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([RECACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[GWMV_NOSTRO_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([ROPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_NOSTRO_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([RVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_NOSTRO_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[GWMV_NOSTRO_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([SECID])
REFERENCES [dbo].[STATIC_SECURITIES] ([SECID])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([SECID])
REFERENCES [dbo].[STATIC_SECURITIES] ([SECID])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[LM_FI_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK__LM_FX_TRA__CCYSA__10566F31] FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION] CHECK CONSTRAINT [FK__LM_FX_TRA__CCYSA__10566F31]
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([BROKCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CORPPORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CORPTRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([FCNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([NCNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[LM_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE]  WITH CHECK ADD  CONSTRAINT [FK__LM_MM_TRAN__PORT__5F9E293D] FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE] CHECK CONSTRAINT [FK__LM_MM_TRAN__PORT__5F9E293D]
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE]  WITH CHECK ADD  CONSTRAINT [FK__LM_MM_TRAN__TRAD__5CC1BC92] FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE] CHECK CONSTRAINT [FK__LM_MM_TRAN__TRAD__5CC1BC92]
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE]  WITH CHECK ADD  CONSTRAINT [FK__LM_MM_TRANS__CCY__5EAA0504] FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE] CHECK CONSTRAINT [FK__LM_MM_TRANS__CCY__5EAA0504]
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE]  WITH CHECK ADD  CONSTRAINT [FK__LM_MM_TRANS__CNO__5DB5E0CB] FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[LM_MM_TRANSACTION_INTERFACE] CHECK CONSTRAINT [FK__LM_MM_TRANS__CNO__5DB5E0CB]
GO
ALTER TABLE [dbo].[PDN_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([PREMIUM_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[PDN_DCI]  WITH CHECK ADD FOREIGN KEY([PREMIUM_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[PDN_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[PDN_FXOPTION]  WITH CHECK ADD FOREIGN KEY([PREMIUM_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[PDN_PAR_FORWARD]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[PDN_PAR_FORWARD]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[PDN_PAR_FORWARD]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([CTRSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([PAY_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([RECEIVE_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[SMTR_CCS]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([CTRSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([CTRSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_FX_TRANSACTION_KCDN]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([CALL_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([CTRSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([PREMIUM_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([PUT_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[SMTR_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([CTRSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[SMTR_PARFWD]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[STATIC_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([ACCTNGTYPE])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[STATIC_CUSTOMER]  WITH CHECK ADD FOREIGN KEY([SIC])
REFERENCES [dbo].[STATIC_STANDARD_INDUSTRY_CODE] ([SIC])
GO
ALTER TABLE [dbo].[STATIC_SECURITIES]  WITH CHECK ADD FOREIGN KEY([ACCTNGTYPE])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([CTRSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([PAY_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([RECEIVE_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[TMS_CCS_IRS]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([SECID])
REFERENCES [dbo].[STATIC_SECURITIES] ([SECID])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([SECID])
REFERENCES [dbo].[STATIC_SECURITIES] ([SECID])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[TMS_FI_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[TMS_FIXING]  WITH CHECK ADD FOREIGN KEY([USER_FIXING])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CTRSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([BROKCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CORPPORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CORPTRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CTRCCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([FCNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([NCNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[TMS_FX_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([INTSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([IOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PAYOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([SACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([VOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([PORT])
REFERENCES [dbo].[STATIC_PORTOFOLIO] ([PORT])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([TRAD])
REFERENCES [dbo].[STATIC_TRAD] ([TRADER])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_MM_TRANSACTION_INTERFACE]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([AUTHOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([CALL_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([CCYSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([CTRSACCT])
REFERENCES [dbo].[STATIC_ACCOUNTING_TYPE] ([ACCTNGTYPE])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([PREMIUM_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([PUT_CCY])
REFERENCES [dbo].[STATIC_RATE] ([CCY])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([REVAUTH])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([REVOPER])
REFERENCES [dbo].[STATIC_OPER] ([OPERATOR])
GO
ALTER TABLE [dbo].[TMS_OPTION_CALLSPREAD]  WITH CHECK ADD FOREIGN KEY([CNO])
REFERENCES [dbo].[STATIC_CUSTOMER] ([CNO])
GO
USE [master]
GO
